layout {

    focus-ring {
        active-color   "#e467ab"
        inactive-color "#221b1f"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#e467ab"
        inactive-color "#221b1f"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#221b1f70"
    }

    tab-indicator {
        active-color   "#e467ab"
        inactive-color "#8d0c52"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#e467ab80"
    }
}

recent-windows {
    highlight {
        active-color "#e467ab"
        urgent-color "#fd4663"
    }
}
